<mat-sidenav-container class="h-full" autosize>
  <mat-sidenav
    #drawer
    class="min-w-96 max-w-4xl !rounded-none"
    mode="side"
    position="end"
    appResizeDrawer
    (openedStart)="initializeNotesApp()"
  >
    <div class="flex">
      <div class="cursor-col-resize border-l-4 border-indigo-500 w-1.5"></div>
      <ng-container *ngComponentOutlet="notesApp"></ng-container>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-nav-bar (toggle)="drawer.toggle()" />
    <main>
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
