<mat-sidenav-container class="h-full" autosize>
  <mat-sidenav
    #drawer
    class="min-w-96 max-w-4xl !rounded-none"
    mode="side"
    position="end"
    appResizeDrawer
  >
    <div class="h-full">
      <iframe
        width="100%"
        height="100%"
        src="http://localhost:4203"
        loading="lazy"
      ></iframe>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-nav-bar (toggle)="drawer.toggle()" />
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
