<header class="hero flex items-center justify-center flex-col p-24">
  <h1>Experiment Day PI 25.1</h1>
  <span>Learn how to use Native Federation!</span>
</header>
<div class="grid grid-cols-3 gap-6 p-8">
  <a routerLink="/users">
    <mat-card
      appearance="outlined"
      class="min-h-60 items-center justify-center"
    >
      <mat-card-title>Users</mat-card-title>
      <mat-card-content>View all users</mat-card-content>
    </mat-card>
  </a>
  <a routerLink="/recipes">
    <mat-card
      appearance="outlined"
      class="min-h-60 items-center justify-center"
    >
      <mat-card-title>Recipes</mat-card-title>
      <mat-card-content>Discover new recipes</mat-card-content>
    </mat-card>
  </a>
  <a routerLink="/mismatch">
    <mat-card
      appearance="outlined"
      class="min-h-60 items-center justify-center"
    >
      <mat-card-title>Mismatch</mat-card-title>
      <mat-card-content>Mismatch Angular Versions</mat-card-content>
    </mat-card>
  </a>
</div>
